In [1]:
import pandas as pd
import numpy as np
import sys
import os

# Add the grandparent directory to sys.path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../../')))
from Utils import FE_helper as FE

c:\Users\yangs\.conda\envs\myenv\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
# 2. Load the data
train_df_25 = pd.read_csv('../../Data/original/train_2025.csv') 
train_df_25['xxx'] = 1
train_df_23 = pd.read_csv(r"C:/Users/yangs/Desktop/train_2023.csv")
train_df_23['xxx'] = 0

train_df = pd.concat([train_df_23, train_df_25], ignore_index=True)

test_df = pd.read_csv('../../Data/original/test_2025.csv')
test_df['xxx'] = 1

In [3]:
train_df = FE.preprocessing(train_df)
test_df = FE.preprocessing(test_df)

In [4]:
train_df.to_csv(r'../../Data/processed/0430_01/train_2025.csv', index=False)
test_df.to_csv(r'../../Data/processed/0430_01/test_2025.csv', index=False)

In [12]:
ignore_var = ['claim_number', 'fraud', 'claim_date.month', 'claim_date.day', 'claim_date.dayofweek', 'claim_date.weekofyear']

In [15]:
numeric_cols = train_df.select_dtypes(include=np.number).columns
numeric_cols = [col for col in numeric_cols if col not in ignore_var]

numeric_df = train_df[numeric_cols]

In [16]:
numeric_df

,age_of_driver,marital_status,safty_rating,annual_income,high_education_ind,address_change_ind,past_num_of_claims,liab_prct,policy_report_filed_ind,claim_est_payout,...,claim_to_income_ratio,vehicle_price_to_income,income_to_age,claim_amt_per_age,claim_nmb_per_age,claim_num_per_vage,price_to_age_ratio,price_per_weight,liab_weighted_claim,married_income
0,50,1,66,39117,1,0,0,18,0,5464.903723,...,0.139707,0.429130,782.339844,109.298053,0.000000,0.000000,335.725702,0.491065,98368.267014,39117
1,47,1,78,38498,1,0,0,81,0,5448.155974,...,0.141518,0.540114,819.106209,115.918188,0.000000,0.000000,442.410519,1.431219,441300.633894,38498
2,28,0,76,33343,0,1,0,94,1,1858.971699,...,0.055753,0.201826,1190.821003,66.391823,0.000000,0.000000,240.338360,0.936883,174743.339706,0
3,36,1,56,35832,1,0,0,95,0,4040.932844,...,0.112774,0.695308,995.333057,112.248103,0.000000,0.000000,692.062804,0.520220,383888.620180,35832
4,60,1,79,40948,1,1,0,53,1,4876.606138,...,0.119093,0.424744,682.466553,81.276755,0.000000,0.000000,289.873618,2.304702,258460.125314,40948
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36995,43,1,65,97505,1,0,11,99,1,0.000000,...,0.000000,0.153838,2267.557612,0.000000,0.255814,10.999890,348.837128,1.235672,0.000000,97505
36996,33,0,65,81642,1,1,13,23,1,742.210000,...,0.009091,0.183729,2473.999250,22.491205,0.393939,6.499968,454.545317,0.912247,17070.830000,0
36997,39,0,84,123385,0,1,16,50,0,0.000000,...,0.000000,0.482338,3163.717138,0.000000,0.410256,15.999840,1525.982454,4.350289,0.000000,0
36998,49,0,89,91848,1,0,16,24,1,535.320000,...,0.005828,0.163313,1874.448597,10.924896,0.326531,15.999840,306.122387,2.445946,12847.680000,0
36999,48,1,65,114306,1,0,0,49,0,910.950000,...,0.007969,0.487060,2381.374504,18.978121,0.000000,0.000000,1159.873311,8.085075,44636.550000,114306

In [18]:
other_cols = train_df.select_dtypes(include=object).columns
other_cols = [col for col in other_cols if col not in ignore_var]

other_df = train_df[other_cols]

In [19]:
other_df

,gender,living_status,accident_site,witness_present_ind,channel,vehicle_category,vehicle_color,age_group,claim_date.year,claim_date.quarter,zipcode_type,state,vehicle_price_categories
0,F,Own,Local,0.0,Broker,Large,blue,D,2016,1,STANDARD,IA,above_50k
1,M,Own,Parking Lot,0.0,Broker,Large,black,C,2015,4,UNIQUE,IA,btw_20_30k
2,M,Rent,Local,1.0,Broker,Compact,blue,B,2016,1,STANDARD,VA,under_15k
3,M,Own,Local,1.0,Phone,Compact,gray,B,2015,3,STANDARD,IA,btw_20_30k
4,F,Rent,Highway,0.0,Phone,Medium,black,D,2015,2,STANDARD,CO,above_50k
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36995,F,Own,Local,0.0,Broker,Medium,white,C,2015,1,STANDARD,IA,under_15k
36996,F,Own,Local,0.0,Broker,Large,gray,B,2015,2,UNIQUE,AZ,under_15k
36997,M,Own,Local,1.0,Broker,Compact,gray,C,2016,2,STANDARD,AZ,above_50k
36998,F,Rent,Local,1.0,Broker,Compact,black,C,2016,4,PO BOX,VA,under_15k
36999,M,Own,Parking Lot,0.0,Broker,Large,other,C,2016,1,STANDARD,CO,above_50k